<!DOCTYPE html>
<html>
<head>
    <title>Power Consumption Prediction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="container">
        <h2>Power Consumption Prediction</h2>
        <form id="prediction-form">
            <label for="timestamp">Timestamp (YYYY-MM-DD HH:MM:SS):</label>
            <input type="text" id="timestamp" name="timestamp" required>
            
            <label for="days">Prediction Period (in days):</label>
            <input type="number" id="days" name="days" required>
            
            <button type="submit">Predict</button>
        </form>
        <div id="prediction-results"></div>
    </div>
    <script>
        document.getElementById('prediction-form').onsubmit = function(e) {
            e.preventDefault();
            const timestamp = document.getElementById('timestamp').value;
            const days = document.getElementById('days').value;

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `timestamp=${timestamp}&days=${days}`
            })
            .then(response => response.json())
            .then(data => {
                let resultDiv = document.getElementById('prediction-results');
                resultDiv.innerHTML = '<h3>Total Predicted kWh:</h3>';
                resultDiv.innerHTML += `<p>${data.total_prediction}</p>`;
            });
        };
    </script>
</body>
</html>
